/*Danielle Simpson - 2306918
Rodane Baugh 2205798
Ashleigh Allwood 1401887
Web Programming: CIT2011
Friday @7pm
*/

/*1.c Consistency and Theme*/
:root {
    --main-color: palevioletred;
    --accent-color: rgb(251, 255, 174);
    --primary-font: 'Courier New', Courier, monospace;
    font-size: 20px;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
    list-style: none;
}
/*1.a element selector*/
body{
    background-image: url('/Assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;  /*1.b Flexbox use*/
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    background-attachment: fixed;
}

span{
    text-decoration: underline;
    color: blue;
    transition: ease;
}

section{
    background-color: white;
    padding: 20px;
}

form{
    background-color: white;
    border: 2px solid pink;
    border-radius: 2rem;
    box-shadow: 5px 5px 3px var(--main-color);
    margin: 0 10% 10% 10%;
    padding: 15px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}

button{
    background-color: var(--accent-color);
    border-radius: 3rem;
    padding: 10px;
}

dd{
    width: 240px;
    min-height: 60px;
}

dl{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

header{
    width: 94%;
    height: 100px;
    background-color: white;
    box-shadow: 5px 5px 3px var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

a{
    color: black;
    text-decoration: none;
}

/*1.a class selector*/
.landing{
    background-image: url('./Assets/landing.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 75vh;
    width: 88%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    color: #8B2F2F;
    text-shadow: 2px 2px 2px white;
    font-size: larger;
}

.toproduct{
    color: purple;
    display: flex;
    align-items: center;
    gap: 10px;
}

.welcbtns{
    display: flex;
    justify-content: space-evenly;
}

.price{
    display: flex;
    justify-content: space-between;
    color: #fb4f14;
}

.cart{
    display: flex;
    width: 94%;
    gap: 50px;
    background-color: transparent;
}

.cart_items{
    color: purple;
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.qty{
    width: 40px;
    text-align: center;
}

.cartimg{
    height: 150px;
    width: 150px;
}
.checkoutpage{
    display: flex;
    gap: 20px;
    width: 94%;
    margin: 0 auto;
}

.formatting{
    display: flex;
    gap: 20px;
}

.shippingform{
    width: 70%;
    margin: 0;
    line-height: normal;
    margin: 0 auto;
}

.proceed{
    margin: 0 auto;
    height: max-content;
    width: auto;
    padding: 20px;
    background-color: white;
    border: 2px solid pink;
    border-radius: 1rem;
    box-shadow: 5px 5px 3px var(--main-color);
}

/*1.a ID selector*/
#about{
    text-align: center;
    color: var(--main-color);
}

/*1.b adapts dynamically*/
#summary{
    max-height: 510px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) pink;
    display: flex;
    flex-direction: row;
    overflow: auto;
    max-width: 400px;
}

#cart_products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 15px;
    margin-bottom: 20px;
    background-color: white;
    border: 2px solid pink;
    border-radius: 1rem;
    height: max-content;
    width: 75%;
}

/*1.a descendant selector selector*/
#welcome button{
    background-color: var(--accent-color);
    border-radius: 3rem;
    width: 30%;
    height: 5rem;
    font-size: 1.5rem;
    box-shadow: 5px 5px 3px;
}

#main img{
    height: 300px;
    width: 200px;
    border: 20px solid lavender;
    border-radius: 2rem;
}

nav ul{
    display: flex;
    gap: 20px;
}

/*1.a Pseudoclass selector*/
span:hover{
    color: rgb(0, 221, 255);
    cursor: pointer;
}

/*1.b adapts dynamically*/
@media (max-width: 950px) {
    *{
        font-size: 15px;
    }
    .shippingform{
    width: 400px;
    margin: 0 auto;
    line-height: normal;
    }

    .checkoutpage{
        display: flex;
        flex-direction: column;
    }
}

@media print {
    button {
        display: none; /* hides all buttons when printing */
    }
}

